:root {
  --color-primary: #0065ff;
  --color-secondary: #202020;
  --surface-primary: #ffffff;
  --surface-secondary: #f8f9fa;
}

:root.dark {
  --color-primary: #faf4e6;
  --color-secondary: #faf4e6;
  --surface-primary: #222222;
  --surface-secondary: #3c3b3a;
}

/* Page Reset Styles */
* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Page base styles */
:root {
  font-family: "Be Vietnam", sans-serif;
  font-style: normal;
  font-size: 62.5%;
}

body {
  background-color: var(--surface-primary);
}

/* Header styles */
header.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;

  background: var(--surface-secondary);
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}
header.page-header h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--color-secondary);
}
/* Toogle theme */
header.page-header .toogle-mode-button-container {
  display: flex;
  align-items: center;
  gap: 7px;
}
header.page-header .toogle-mode-button-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-secondary);
}
header.page-header .toogle-mode-button-container input {
  display: none;
}
header.page-header .toogle-mode-button-container label {
  position: relative;
  width: 40px;
  height: 22px;

  background: #e5e5e5;
  border: 1px solid #3c3b3a;
  border-radius: 50px;

  cursor: pointer;

  transition: all 0.2s ease;
}
header.page-header .toogle-mode-button-container label::before {
  content: "";
  display: block;
  width: 17.25px;
  height: 17.25px;

  background: #3c3b3a;
  border-radius: 50%;

  position: absolute;
  top: 7%;
  left: 4%;
  transition: all 0.2s ease;
}
header.page-header .toogle-mode-button-container input:checked + label {
  background: #faf4e6;
  border-color: #222222;
}
header.page-header .toogle-mode-button-container input:checked + label::before {
  left: 50%;
}
