#modal {
  min-width: 330px;
  max-width: 605px;
  margin: 0 auto;
  height: fit-content;
  padding: 50px 30px 30px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#modal .modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #5f3305;
}

#modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#modal form input {
  padding: 16px 25px;

  background: #f5f5f5;
  border-radius: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

#modal form input::placeholder {
  color: #7d7d7d;
}

#modal form .modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#modal form .modal-buttons button {
  border-radius: 5px;
  width: 100%;
  padding: 18px 105px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  cursor: pointer;
}

#modal form .modal-buttons button.modal-button-send {
  background: #5f3305;
  color: #ffffff;
}
#modal form .modal-buttons button.modal-button-cancel {
  border: 1px solid #db1e1e;
  background: #ffffff;
  color: #db1e1e;
}
