.item {
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

  color: #5f3305;
}

.item header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item header .item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.item header .item-time {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (min-width: 1080px) {
  .item .item-content {
    display: flex;
    gap: 15px;
  }
}

.item .item-content h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.item .item-content h2 strong {
  font-weight: 700;
}

.item .icons {
  display: flex;
  gap: 15px;
  flex: 1;
  justify-content: end;
}

.item .icons a {
  cursor: pointer;
}
