#header-principal {
  height: 374px;
  background-color: #965a1b;

  display: flex;
  justify-content: center;
  padding-top: 80px;
}

#main-principal {
  width: fit-content;
  max-width: 1235px;
  margin: 0 auto;
  margin-top: -72px;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

#main-principal .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

@media (min-width: 940px) {
  #main-principal .cards {
    justify-content: center;
    flex-direction: row;
    gap: 1.5vw;
  }
}

#main-principal .queue {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 940px) {
  #main-principal .queue {
    gap: 25px;
  }
}

#main-principal .queue .add-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #5f3305;

  cursor: pointer;
}

#main-principal .queue .items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#footer-principal {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #5f3305;

  text-align: center;
  margin: 80px auto;
}
