.card {
  width: 330px;
  border-radius: 5px;

  padding: 19px 29px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card header {
  display: flex;
  justify-content: space-between;
}

.card header h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}
