/* main styles */
#page-main {
  width: 82.66vw;
  margin: 80px auto 25px;

  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}

/* introduction section styles */
#section-introduction {
  gap: 40px;
}
#section-introduction header {
  gap: 40px;
}
#section-introduction header img {
  box-shadow: 0px 25px 65px var(--color-shadow);
  border-radius: 93px;
}
#section-introduction header h1 {
  font-family: "EB Garamond";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 100%;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--color-primary);
}
#section-introduction header hr {
  width: 192px;
}
#section-introduction main #introduction-text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#section-introduction main #introduction-text p strong {
  color: var(--color-primary);
  font-weight: 400;
}
:root.dark #section-introduction #introduction-text p strong {
  text-decoration: underline;
}
#section-introduction main .callout-container {
  align-self: flex-start;
  padding: 20px;
  width: fit-content;

  background: var(--surface-secondary);
  border-radius: 10px;

  display: flex;
  gap: 10px;
}
#section-introduction main .callout-container {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;

  color: var(--color-secondary);
}
#section-introduction main .callout-container span strong {
  color: var(--color-primary);
  font-weight: 400;
}
#section-introduction main .callout-container span strong a:hover {
  color: var(--color-primary-hover);
}

@media screen and (min-width: 790px) {
  #section-introduction header h1 {
    font-size: 4rem;
    text-align: justify;
  }
}

@media screen and (min-width: 960px) {
  #page-main {
    gap: 80px;
    margin: 50px auto 25px;
    justify-content: center;
  }
  #section-introduction header h1 {
    font-size: 7rem;
  }
  #section-introduction main {
    gap: 46px;
  }
}
