/* postagens styles */
#page-main .postagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
#page-main .postagens header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
#page-main .postagens header h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--color-primary);
}
#page-main .postagens header p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: justify;
  color: var(--color-secondary);
}
#page-main .postagens article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
#page-main .postagens article img {
  width: 100%;
}
#page-main .postagens article section {
  margin-bottom: 8px;
}
#page-main .postagens article section h3 {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--color-secondary);
}
#page-main .postagens article section p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: justify;
  color: var(--color-secondary);

  margin-bottom: 25px;
}
#page-main .postagens article section button {
  width: 100%;
  padding: 16px 30px;

  background: var(--surface-primary);
  border: 1px solid var(--color-primary);
  border-radius: 44.5px;

  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--color-primary);

  cursor: pointer;
}
#page-main .postagens article button:hover {
  background: var(--surface-secondary);
  color: var(--color-primary-hover);
}

@media screen and (min-width: 1024px) {
  #page-main .postagens {
    gap: 36px;
  }
  #page-main .postagens header {
    align-items: flex-start;
  }
  #page-main .postagens article {
    flex-direction: row;
    align-items: flex-start;
  }
  #page-main .postagens article img {
    width: 640px;
    height: 370px;
  }
  #page-main .postagens article section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #page-main .postagens article:nth-child(odd) img {
    order: 2;
  }
  #page-main .postagens article button {
    width: fit-content;
  }
}

@media screen and (min-width: 768x) {
}
