/* Main styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.47vw;
}

main h1 {
  font-weight: 700;
  font-size: calc(2.4rem + (48 - 24) * ((100vw - 412px) / (1440 - 412)));
  line-height: calc(3.25rem + (65 - 32.5) * ((100vw - 412px) / (1440 - 412)));

  color: var(--text-dark);
}

main section.posts article {
  display: flex;
  margin-bottom: 3.125vw;
}

main section.posts article section h2 {
  font-weight: 700;
  font-size: calc(1.6rem + (32 - 16) * ((100vw - 412px) / (1440 - 412)));
  line-height: calc(2.2rem + (44 - 22) * ((100vw - 412px) / (1440 - 412)));

  color: var(--text-dark);
  margin-bottom: 1.59vw;
}

main section.posts article section p {
  width: 54.02vw;

  font-weight: 400;
  font-size: calc(0.8rem + (16 - 8) * ((100vw - 412px) / (1440 - 412)));
  line-height: calc(1.1rem + (22 - 11) * ((100vw - 412px) / (1440 - 412)));
  text-align: justify;

  color: var(--text-dark);
}

main section.posts article figure img {
  width: 21.11vw;
  height: 15.83vw;
}
