/* Main styles */
main {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 29px;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 25px;


    width: 371px;
    height: 351px;
}

main section h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    color: #000000;
}

main section button {
    width: 220px;
    height: 51px;
    padding: 13px 55px;

    background: #7ED321;
    border-radius: 15px;
    border-width: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #1C4701;
    
    cursor: pointer;
}

main section button:hover {
    background: #85FF00;
}