/* Main styles */
main {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 29px;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 371px;
    height: 351px;
}

main section h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    color: var(--text-dark);
}

main section button {
    width: fit-content;
    padding: 13px 55px;

    background: var(--green-primary);
    border-radius: 15px;
    border-width: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-green);
    
    cursor: pointer;
}

main section button:hover {
    background: var(--green-secondary);
}