/* Page Reset Styles */
* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Page base styles */
body {
    font-family: 'Open Sans';
    font-style: normal;
}

/* Header styles */
header nav {
    display: flex;
    justify-content: space-between;

    padding: 27px 15px;

    color: #FFFFFF;
}

header nav .logo {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #000000;

    cursor: pointer;
}

header nav .logo span {
    color: #7ED321;
}

header nav ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;

    gap: 35px;
}


header nav ul li a, 
header nav ul li button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;

    cursor: pointer;
}

header nav ul li a:hover {
    color: #4F4F4F;
} 

header nav ul li button {
    padding: 9px 32px;

    background: rgba(126, 211, 33, 0.4);
    border-radius: 15px;
    border-width: 0;

    color: #1C4701;
}

header nav ul li button:hover {
    background: rgba(126, 211, 33, 0.9);
}